:root {
    --bg: #000000;
    --white: #ffffff;
    --gray: #a1a1aa;
    --txt: #dfdfdf;
    --line: #2b2b2b;
    --primary: #4287f5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg);

    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 640px;
    height: 100%;
    padding: 30px 0px;
}

.header {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid var(--line);
    padding-bottom: 8px;
}

.h-first {
    display: flex;
    align-items: center;
    gap: 16px;
}

.name {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: var(--white);
}

.menu {
    list-style: none;
    display: flex;
}

.menu .item a{
    text-decoration: none;
    color: var(--white);
    font-size: 13.5px;
    transition: 0.2s;
}

.menu .item a:hover {
    color: var(--primary);
}

.item a {
    padding: 10px;
}

.links {
    display: flex;
    list-style: none;
    align-items: end;
}

.social-link {
    fill: var(--gray);
    transition: 0.2s;
}

.item a:hover > .social-link {
    fill: var(--primary);
}

.intro {
    margin-top: 30px;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    background-image: url("../images/game-of-life.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.title {
    font-size: 17px;
    color: var(--white);
    font-weight: bold;
    margin-bottom: 8px;
}

.about {
    margin-top: 30px;
    border-bottom: 1px solid var(--line);
    padding-bottom: 8px;
}

.about-txt {
    font-size: 13.5px;
    line-height: 1.4;
    color: var(--txt);
}

.projects {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--line);
    padding-bottom: 8px;
}

.projects-type-list {
    display: flex;
    list-style: none;
    gap: 5px;
}

.type {
    width: 100%;
    height: 65px;

    background-color: var(--white);
    border: 2px solid var(--line);

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    background-size: cover;
    background-repeat: no-repeat;
    
    cursor: pointer;
    border-radius: 5px;
}

.general {
    background-image: url(../images/04.jpg);
}

.backend-frontend {
    background-image: url(../images/03.png);
}

.machine-learning {
    background-image: url(../images/02.jpg)
}

.graphics {
    background-image: url(../images/01.jpg);
}

.type::after {
    content: '';
    position: absolute;
    background-color: #00000080;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.type p {
    z-index: 2;
    color: var(--white);
    font-size: 15px;
    font-weight: bold;
}

.selected {
    border: 2px solid var(--primary);   
}